@charset "utf-8";
*
{
    margin:0;
    padding:0;
    list-style-type:none;
}
a,img
{
    border:0;
}
body
{
    font:12px/180% Arial, Helvetica, sans-serif, "新宋体";
}

.tab1
{
    width:601px;
    border-top:#ccc solid 1px;
    border-bottom:#cccccc solid 1px;
    margin:auto;
    margin-top:20px;
}
.menu
{
    height:28px;
    border-right:#ccc solid 1px; 
    font-size:14px;
}
.menu li
{
    float:left;
    width:199px;
    text-align:center;
    line-height:28px;
    height:28px;
    cursor:pointer;
    border-left:#ccc solid 1px;
    border-bottom:#ccc solid 1px;
    color:#666;
    overflow:hidden;
    background:#E0E2EB;
}
.menu li.off
{
    background:#0072c6;
    color:white;
    font-weight:bold;
    border-bottom:none;
}
.menudiv
{
    height:240px;
    border-left:#cccccc solid 1px;
    border-right:#cccccc solid 1px;
    border-top:0;
    border-bottom:none;
    background:#fefefe
}
.menudiv div
{
    padding:20px;
    line-height:28px;
}